
/*Propiedades da pagina universais */

*{
    margin:0;
    padding:0;
    font-size: 100%;
    box-sizing: border-box;
}

.conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

/*propiedades da img principal*/
.ImgPrincipal{
    width: 100%;
    height: 669px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
    background-image:url("../../assets/pet1.jpeg");
    background-size:cover;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

/*Propiedades do menu*/    
.menu{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;
    align-items:center;
    background: rgba(0,0,0,.4);
    /*position: fixed;*/
    width:100%;
    height:70px;
}
    
nav a,li{
    text-decoration:none;
    font-size:20px;
    color:white;
    list-style:none;
    padding:10px;
    
    
}
    
a{
    text-decoration:none;
    font-size:20px;
    color:white;
    list-style:none;
    padding:10px;
}
    
nav{
    display:flex;
}
    
li{
    text-decoration:none;
}
    
/*Propiedades do texto inicial*/
.textoInicial{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Amatic SC', cursive;
}

.informaçãoSobrePagina{
    color: black;
    font-size: 30px;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}

.sobreHome{
    width: 100%;
    height: 500px;
    background-color: LightCyan;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Amatic SC', cursive;
}

.gifFinal{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.gato1{
    width: 400px;
    height: 400px;
}

/*Propiedades do formulario*/
.formularioLogin{
    width: 450px;
    height: 300px;
    margin-bottom: -80px;
}

input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}

button{
    cursor: pointer;    
}

form input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea{
    width: 100%;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    resize: vertical;
}

.buttonLogin{
    width: 100%;
    height: 60px;
    background-color: darkcyan;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700px;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.buttonLogin:hover{
    filter: brightness(90%);
}

/*Propiedades sobre o paragrafo de informação*/
.informaçãoHome{
    width: 600px;
    height: 200px;
    font-family: 'Amatic SC', cursive;
}

/*Propiedades do titulo*/
.titulo{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    color: white;
}

h1{
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
}
